.axis{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.x-axis{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.y-axis{
    font-size: 20px;
}

.chart{
    background-color:white;
    box-shadow:0 0 12px 1px rgb(206, 206, 206)
}
div.tooltip {	
    position: absolute;			
    text-align: center;				
    padding: 8px;
    width: 150px;				
    font: 16px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		
    display: flex;
    align-items: center;
    justify-content: center;	
}

.option-button {
    background-color: rgb(0, 90, 170);
    border: 1px solid rgb(138, 196, 247);
    padding: 4px 20px;
    color: white;
    font-weight: 600;
}